*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1, p, a, ul{
    font-family: "SUSE", sans-serif;
    
}
header{
    display:flex;
    justify-content: space-between;
}

.user-link{
    flex-wrap: wrap;

}
.top-heading{
    display: block;
    justify-content:right
    flex-direction:
}
.top-menu-list1{
    display:inline-block

}